.dropdown {
  width: 400px;
  margin: 100px auto;
  position: relative;
  user-select: none;

  &__btn {
    padding: 10px;
    background: #fcfcfc;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 120%;
    width: 100%;
    padding: 10px;
    background: #fcfcfc;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    padding: 5px 0;
  }
}